{% extends 'base.html' %}
{% block content %}
<img src="/static/friend/market.jpg" width="500"/>
<marquee><h1 class="glow">Welcome to the Plaza!</h1></marquee><br />

<ul id="comments_status" style="list-style-type: none;">
{% for comment in comments %}
    <li class="comment_page_comment"><strong><a href="{% url 'friend_page' friend_id=comment.commenter.id %}" >{{ comment.commenter }}</a> said:</strong><br />{{ comment }}<br />
        
    {% if user.is_authenticated and comment.commenter == user.friend %}
        <form action="{% url 'del_cp_comment' %}" method="post" onsubmit="return prompt_delete_tp_comment();">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
            <button class="delete_comment">[x]</a>
        </form></li>
    {% endif %}
{% endfor %}
</ul>
<hr />

<h3>Add a comment here:</h3>
<p>Maxlength of 300 characters.</p>
<form action="{% url 'comment_page' %}" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit"/>
</form>
{% endblock %}

{% block script %}

function get_comments(){
var element = document.getElementById("comments_status");
request = new XMLHttpRequest();
request.onreadystatechange = function() {
     if (request.readyState == 4 && request.status == 200)
         element.innerHTML = request.responseText;
     };
    request.open("GET", "{% url 'ajax_comments_status' %}", true);
    request.send();
                                
}
{% endblock %}

{% block get_comments %}
window.setInterval(function() {
    get_comments()
}, 3000);
{% endblock %}