{% extends 'base.html' %}
{% block content %}
<h2>Welcome to the site!</h2>
<p>If you do not have an account and wish to get with the program already, <h1><a href="{% url 'add_user' %}">Click here!</a></h1></p>
<p>If you want to chat, go to the Plaza.</p>
<p>You can also check out your account at My Friend Page!</p>
<p>You generate diamonds and energy every few seconds your online. (only when you're online)</p>
<p>You can steal other friends diamonds to increase your stats!</p>
<p><~~~~~~~~ use the nav bar to get around.</p>
{% endblock %}
