{% extends 'base.html' %}
{% block content %}

{% if registered %}
    <p>Thanks for registering!</p>
    <p>Login to get started.</p>
{% else %}
    <h3>Create an account here</h3><br />
    <form method="post" action="{% url register %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ user_form.as_p }}
        <hr />
        {{ friend_form.as_p }}
        
        <input type="submit" name="submit" value="Register" />
    </form>
{% endif %}

{% endblock %}
