[Unit]
Description=Friendbook for rtards
After=network.target

[Service]
ExecStart=python /home/dustin/workspace/SwDev/FriendBook/FriendBook/manage.py runserver 0.0.0.0:8080

[Install]
WantedBy=multi-user.target